@import url("https://fonts.googleapis.com/css2?family=Kranky&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kranky", cursive;
}

main {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  background-image: url("../images/paper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.scoreboard {
  display: flex;
  justify-content: flex-end;
  color: black;
  gap: 2rem;
}
.scoreboard span {
  font-size: clamp(1.25rem, 7vw, 4rem);
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 10vw, 6rem);
  margin-bottom: 3rem;
}

.messages {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.25rem, 7vw, 4rem);
}

.items {
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.items i {
  color: rgba(116, 116, 116, 0.566);
  font-size: clamp(4rem, 30vw, 12rem);
  width: clamp(4rem, 30vw, 12rem);
  height: clamp(4rem, 30vw, 12rem);
}
.items .fa-hand {
  transform: rotate(90deg) scale(0.85, 1);
}
.items .fa-hand:last-child {
  transform: rotate(90deg) scale(0.85, -1);
}
.items .fa-hand-fist {
  transform: rotate(90deg) translateX(0.35rem);
}
.items .fa-hand-fist:last-child {
  transform: rotate(90deg) scale(1, -1) translateX(0.35rem);
}
.items .fa-hand-scissors:first-child {
  transform: scale(-1, 1);
}

button {
  position: relative;
  padding: 0.5rem 1rem;
  border: 0.125rem solid black;
  border-radius: 1em;
  background-color: transparent;
  color: black;
  font-size: 2rem;
  transition: 0.1s ease;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.buttons button::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.5rem;
  right: 0.25rem;
  border-left: 0.125rem solid black;
  border-right: 0.125rem solid black;
  border-radius: 1em;
  transition: 0.3s ease;
}
.buttons button::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0.25rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: 0.25rem;
  border-top: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  border-radius: 1em;
  transition: 0.2s ease;
}
.buttons button:hover {
  background-color: rgba(116, 116, 116, 0.566);
  color: white;
  cursor: pointer;
  transform: scale(1.05) translateY(-0.25rem);
}
.buttons button:hover::after {
  transform: translateY(0.15rem) translateX(0.15rem);
}
.buttons button:hover::before {
  transform: translate(-0.15rem);
}

.reset {
  display: flex;
  justify-content: center;
}
.reset button {
  color: salmon;
  border-color: salmon;
  transition: 0.3s ease;
}
.reset button:hover {
  color: white;
  background-color: salmon;
  cursor: pointer;
  letter-spacing: 0.4em;
}
.reset button::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: -0.35rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: 0.25rem;
  border-top: 0.125rem solid salmon;
  border-bottom: 0.125rem solid salmon;
  border-radius: 1em;
  transition: 0.2s ease;
}
.reset button::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.35rem;
  right: -0.5rem;
  border-left: 0.125rem solid salmon;
  border-right: 0.125rem solid salmon;
  border-radius: 1em;
  transition: 0.3s ease;
}

.actions {
  position: relative;
  width: 100%;
}

.animation:first-child {
  animation-name: countDownFirstChild;
  -webkit-animation-name: countDownFirstChild;
  animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

.animation:last-child {
  animation-name: countDownLastChild;
  -webkit-animation-name: countDownLastChild;
  animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

@keyframes countDownFirstChild {
  0% {
    transform: rotate(90deg) translateX(0.35rem);
  }
  50% {
    transform: rotate(90deg) translateX(-3.25rem);
  }
  100% {
    transform: rotate(90deg) translateX(0.35rem);
  }
}
@keyframes countDownLastChild {
  0% {
    transform: rotate(90deg) scale(1, -1) translateX(0.35rem);
  }
  50% {
    transform: rotate(90deg) scale(1, -1) translateX(-3.25rem);
  }
  100% {
    transform: rotate(90deg) scale(1, -1) translateX(0.35rem);
  }
}
@media (max-width: 38.25rem) {
  .buttons {
    flex-direction: column;
    margin-left: 0.375rem;
  }
  .buttons button:hover {
    margin-left: 0.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
