@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');

$font-small: clamp(1.25rem, 7vw, 4rem);
$font-medium: clamp(3rem, 10vw, 6rem);

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kranky', cursive;
}

main {
  min-height: 100vh;
  background-image: url('../images/paper.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.scoreboard {
  display: flex;
  justify-content: flex-end;
  color: black;
  gap: 2rem;
  span {
    font-size: $font-small;
  }
}

h1 {
  text-align: center;
  font-size: $font-medium;
  margin-bottom: 3rem;
}

.messages {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: $font-small;
}

.items {
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  i {
    color: rgba(116, 116, 116, 0.566);
    font-size: clamp(4rem, 30vw, 12rem);
    width: clamp(4rem, 30vw, 12rem);
    height: clamp(4rem, 30vw, 12rem);
  }

  .fa-hand {
    transform: rotate(90deg) scale(0.85, 1);
  }

  .fa-hand:last-child {
    transform: rotate(90deg) scale(0.85, -1);
  }

  .fa-hand-fist {
    transform: rotate(90deg) translateX(0.35rem);
  }

  .fa-hand-fist:last-child {
    transform: rotate(90deg) scale(1, -1) translateX(0.35rem);
  }

  .fa-hand-scissors:first-child {
    transform: scale(-1, 1);
  }
}

button {
  padding: 0.5rem 1rem;
  border: 0.125rem solid black;
  border-radius: 1em;
  background-color: transparent;
  color: black;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.reset {
  display: flex;
  justify-content: center;
  button {
    color: salmon;
    border-color: salmon;
  }
}

.actions {
  position: relative;
  width: 100%;
}

.animation:first-child {
  animation-name: countDownFirstChild;
  -webkit-animation-name: countDownFirstChild;
  animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

.animation:last-child {
  animation-name: countDownLastChild;
  -webkit-animation-name: countDownLastChild;
  animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

@keyframes countDownFirstChild {
  0% {
    transform: rotate(90deg) translateX(0.35rem);
  }
  50% {
    transform: rotate(90deg) translateX(-3.25rem);
  }
  100% {
    transform: rotate(90deg) translateX(0.35rem);
  }
}

@keyframes countDownLastChild {
  0% {
    transform: rotate(90deg) scale(1, -1) translateX(0.35rem);
  }
  50% {
    transform: rotate(90deg) scale(1, -1) translateX(-3.25rem);
  }
  100% {
    transform: rotate(90deg) scale(1, -1) translateX(0.35rem);
  }
}

@media (max-width: 540px) {
  .buttons {
    flex-direction: column;
  }
}
